*.class
out

.idea

*.iml

target

src/test/java/tmp

_windows/
codestyles/
debugger.xml

filetypes.xml

mavenVersion.xml
Editor
build
Default.xml
laf.xml
path.macros.xml
git.xml
editor.codeinsight.xml
.allure
ide.general.xml
code.style.schemes.xml
debugger.renderers.xml
intentionSettings.xml
lombok-plugin.xml
toStringTemplates.xml
abbreviations.xml
baseRefactoring.xml